<div class="container">
  <h2> Category Detail</h2>
  <br />
  <div class="row">
    <div class="col-md-2">
      Category Name
    </div>
    <div class="col-md-4" style="font-weight: bold">
      {{category.name}}
    </div>
    <div class="col-md-2">
      Category Description
    </div>
    <div class="col-md-4" style="font-weight: bold">
      {{category.description}}
    </div>
  </div>
<br>
  <app-content [categoryId]="category._id"></app-content>
  <a routerLink="/users/category" class="btn btn-secondary">Back to List</a>
</div>
